.Search {
    background-color: transparent;
    height: 100px;
    width: 100%;
    padding: 5px 0 55px 0;
    input[type=text] {
        display: block;
        max-width: 70%;
        min-width: 50%;
        height: 100%;
        margin: 0 auto;
        border-radius: 50px;
        outline: none;
        border: 3px solid var(--color-font);
        padding-left: 10px;
        font-size: 1.4rem;
    }
}